.Menu {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: .9;
}

.point {
    position: relative;
    height: 100%;
    width: 33.33%;
    background-color: black;
    border-right: 1px solid #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem {
    color: #15a2ff;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;
}

.menuItem:hover {
    font-size: 2.5rem;
    transition: .8s;
}
