.Menu {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 40px;
}
.MenuGlobal {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 7px solid white;
    width: 100%;
    transition: 0.55s;
}
.MenuTop {
    top: 0;
}
.MenuMiddle {
    top: 18px;
}
.MenuBottom {
    top: 36px;
}
.MenuTopClick {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
}
.MenuMiddleClick {
    opacity: 0;
}
.MenuBottomClick {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
}
