.About {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 1;
}

.Info {
    width: 60%;
    height: 70%;
    padding: 0 2rem 0 2rem;
}

.PhotoBlock {
    width: 40%;
    height: 70%;
}

.Photo {
    width: 110%;
    height: auto;
}
