.DayDate {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px;
}

.dayName {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
    height: 4vh;
}

.dName {
}

.rowDate {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
    height: 4vh;
}

.dNum {

}

.title {
    display: flex;
    justify-content: flex-start;
    height: 4vh;
    font-size: 1.2rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.calendarControl {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
