.Navigation {
    display: flex;
    height: 10rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    transition: 1s;
}

.scroll {
    background: rgba(0, 0, 0, 0.8);
    height: 6rem;
    transition: 1s;
}

.MenuWrapper {
    width: 3.5rem;
    height: 2rem;
    position: absolute;
    right: 5rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.MenuMain {
    display: flex;
}
