.Time {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 40vw;
    height: 20%;
}

.Column {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    width: 30%;
}

.timeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #15a2ff;
    color: #15a2ff;
    height: 2rem;
    cursor: pointer;
}

.notActive {
    border-color: gray;
    color: gray;
    cursor: not-allowed;
}

.activeTime {
    background-color: #2f2f2f;
}
